*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
    height:100vh;
    font-size: calc(10/1440*100vw);
}
  

body{
    margin:0px;
    padding: 0px;

    background-color: #D71A00;
}

@font-face {
    font-family:"Monument";
    src:url("fonts/MonumentExtended-Regular.woff") format("woff"), url("fonts/MonumentExtended-Regular.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}
  
@font-face {
    font-family:"MBold";
    src:url("fonts/MonumentExtended-Ultrabold.woff") format("woff"), url("fonts/MonumentExtended-Ultrabold.woff2") format("woff2");
    font-weight:bold;
    font-style:normal;
}

.nav {
    display:flex;
    position:fixed;
    width: 100%;
    height: 8rem;
    z-index: 10;
    top:0;
    left:0;
}
  
.nav > div {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: Monument, sans-serif;
    font-style:normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    width:20%;
}
  
a{
    display:block;
    text-decoration: none;
    color:inherit;
    padding:3rem;
    transition: color 0.3s ease-in-out;
}
  
a:active,
a:hover {
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    cursor:crosshair;
}
  
div.nav-2 a{
    position:relative;
    color:white;
    text-transform: uppercase;
    text-decoration: underline;
    cursor:crosshair;
}


::-webkit-scrollbar {
    display:none;
}

.nav-mob {
    display: none;
}

.nav-mob a{
    display:block;
    text-decoration: none;
    color:inherit;
    cursor: crosshair;
}

.nav2 {
    display: flex;
    position: fixed;
    justify-content:center;
    align-items: flex-end;

    width:100%;
    height:12vh;
    bottom:0;
    z-index:1;

    color: #D71A00;
    text-align: center;
    font-size: 50px;
    font-family: MBold, sans-serif;
    font-style:normal;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    background-color: white;
    background-repeat: no-repeat;
}

.nav2 a:active,
.nav2 a:hover {
    color:inherit;
    text-transform: uppercase;
    text-decoration: none;
    cursor:crosshair;
}

p {
    display: flex;
    position: relative;

    width:100%;
    top:8rem;
    padding: 0 26.5% 0 26.5%;
    
    color: white;
    font-family: Monument, sans-serif;
    font-style: normal;
    font-weight: normal;

    text-transform: lowercase;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    
}



@media (max-width:600px) {
    .nav {
        display: none;
    }

    .nav-mob {
        display: block;
    }

    body{
        background-color: white;
    }

    main {
        width: 100%;
        height:60%;
    }

    .p-mob {
        display: block;
        width: 100%;
        height: 85vh;
        overflow-y:scroll;
    }

    p{
        margin:0;
        top:3vh;
        bottom:15vh;
        padding:0 20px 0 20px;
        font-size:20px;
        line-height: 160%;
        color:black;
    }

    p + p {
        margin-top: 10px;
    }
}

