*,
*:after,
*:before {
  box-sizing: border-box;
}

body{
    margin:0px;
    padding: 0px;
}

@font-face {
    font-family:"Monument";
    src:url("fonts/MonumentExtended-Regular.woff") format("woff"), url("fonts/MonumentExtended-Regular.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}
  
@font-face {
    font-family:"MBold";
    src:url("fonts/MonumentExtended-Ultrabold.woff") format("woff"), url("fonts/MonumentExtended-Ultrabold.woff2") format("woff2");
    font-weight:bold;
    font-style:normal;
}

::-webkit-scrollbar {
    display:none;
}

a{
    display:block;
    text-decoration: none;
    color:inherit;
    cursor: crosshair;
}

.nav2 {
    display: flex;
    position: fixed;
    justify-content:center;
    align-items: flex-end;

    width:100%;
    height:12vh;
    bottom:0;
    z-index:1;

    color: #D71A00;
    text-align: center;
    font-size: 50px;
    font-family: MBold, sans-serif;
    font-style:normal;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    background-color: white;
    background-repeat: no-repeat;
}

.archive{
    display: flex;
    width: 100%;
}
 
.row{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom:12vh;
    cursor:crosshair;

}
  
.row > div{
    display: flex;
    height: 50px;
}
  
.row p {
    color: black;
    font-family: Monument, sans-serif;
    text-transform: lowercase;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-block-end: 0;
}
  
.col-1{
    display:none;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    width: 15%;
}
  
.col-2{
    display:flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    width: 85%;
    padding: 0px 5px 0px 15px;
}

.col-2 p:hover,
.col-2 p:active{
    color:#D71A00;
    text-decoration: none;
    cursor:crosshair;
    transition: color 0.1s ease-in-out;
}

  
.col-3{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    width: 15%;
}
  
.image {
    display: flex;
    position: relative;
    
    object-fit: contain;
    height: 100%;
}

#overlaymob-001, #overlaymob-002, #overlaymob-003, #overlaymob-004, #overlaymob-005, #overlaymob-006, #overlaymob-007, #overlaymob-008,
#overlaymob-009, #overlaymob-010, #overlaymob-011, #overlaymob-012, #overlaymob-013, #overlaymob-014, #overlaymob-015, #overlaymob-016,
#overlaymob-017, #overlaymob-018, #overlaymob-019, #overlaymob-020, #overlaymob-021, #overlaymob-022, #overlaymob-023, #overlaymob-024,
#overlaymob-025, #overlaymob-026, #overlaymob-027, #overlaymob-028, #overlaymob-029, #overlaymob-030, #overlaymob-031, #overlaymob-032,
#overlaymob-033, #overlaymob-034, #overlaymob-035, #overlaymob-036, #overlaymob-037, #overlaymob-038, #overlaymob-039, #overlaymob-040,
#overlaymob-040, #overlaymob-041, #overlaymob-042, #overlaymob-043, #overlaymob-044, #overlaymob-045, #overlaymob-046, #overlaymob-047 {
    position: fixed;
    display: none;
    width: 100vw ;
    height: 100vh;
    background-color:white;
    z-index:20;
    cursor: crosshair;
    padding: 5%;
}  
  
.full-row1{
    display: block;
    position: relative;
    width: 100%;
}

.full-image {
    display: flex;
    position: relative;
    height:60vh;
    object-fit: contain;
}

.full-image-row {
    display: flex;
    position: relative;
    width: 100%;
    height:50vh;
    object-fit: contain;
}



.title {
    display:grid;
    position:relative;
    color: rgb(3,45,18);
    font-family: MBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    text-transform: lowercase;
}

.description{
    color: rgb(3,45,18);
    font-family: Monument, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: left;
    text-transform: lowercase;
}

.navoverlay {
    display: flex;
    position: fixed;
    justify-content:center;
    align-items: flex-end;

    width:100%;
    height:12vh;
    bottom:0;
    left:0;
    z-index:1;

    color: rgb(3,45,18);
    text-align: center;
    font-size: 50px;
    font-family: MBold, sans-serif;
    font-style:normal;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    background-repeat: no-repeat;
}