*,
*:after,
*:before {
  box-sizing: border-box;
}

body{
    margin:0px;
    padding: 0px;
}

@font-face {
    font-family:"Monument";
    src:url("fonts/MonumentExtended-Regular.woff") format("woff"), url("fonts/MonumentExtended-Regular.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}
  
@font-face {
    font-family:"MBold";
    src:url("fonts/MonumentExtended-Ultrabold.woff") format("woff"), url("fonts/MonumentExtended-Ultrabold.woff2") format("woff2");
    font-weight:bold;
    font-style:normal;
}

::-webkit-scrollbar {
    display:none;
}

.nav{
    display: flex;
    position: fixed;
    width: 100%;
    height:10%;
    bottom: 0%;
    z-index: 1;
  
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Monument, sans-serif;
    font-style:normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1;
    text-transform: uppercase;
    text-decoration: none;
    background-repeat:no-repeat;
    border: none;
    background-color: white;
}
 
.nav div{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:20%;
    height: 100%;
}

a{
    display:block;
    text-decoration: none;
    color:inherit;
    padding: 20px;
    transition: color 0.3s ease-in-out;
}

a:hover,
a:active {
    color:#D71A00;
    text-transform: lowercase;
    text-decoration: none;
    cursor:crosshair;
}
 
div.nav-3 a{
    position:relative;
    bottom:20px;
    color:#D71A00;
    text-transform: lowercase;
    text-decoration: underline;
    cursor:crosshair;
}

.archive{
    display: flex;
    width: 100%;
}
 
.row{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom:12vh;
    cursor:crosshair;

}
  
.row > div{
    display: flex;
    max-height: 8vh;
    background-color: white;
}
  
.row p {
    color: black;
    font-family: Monument, sans-serif;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
  
.col-1{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: calc(1 / 12 * 100%);
}
  
.col-2{
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: calc(8 / 12 * 100%);
}

.col-2 p:hover,
.col-2 p:active{
    color:#D71A00;
    text-decoration: none;
    cursor:crosshair;
    transition: color 0.1s ease-in-out;
}
  
.col-3{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(0.5/ 12 * 100%);
}
 
.image {
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    /* object-position: right; */
    mix-blend-mode:luminosity;
}

.col-4{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: calc(1.5 / 12 * 100%);
}
  
.col-5{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: calc(1 / 12 * 100%);
}
  
#overlay {
    position: fixed;
    display: none;
    width: 100% ;
    height: 100%;
    /* top:0;
    left:0;
    right:0;
    bottom:0; */
    background-color:white;
    z-index:20;
    cursor: crosshair;
    padding: 5%;
}  
  

/* #full {
    display:flex;
    width: 100%;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
} */


.title {
    color: rgb(3,45,18);
    font-family: MBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: right;
    text-transform: lowercase;

    margin-bottom: 0;
}

.description{
    color: rgb(3,45,18);
    font-family: Monument, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: right;
    text-transform: lowercase;
}

.full-col1{
    display: flex;
    position: relative;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    bottom:0;
    padding-left:10%;
}

.full-col2{
    display: flex;
    position: relative;
    justify-content: left;
    align-self: flex-end;
    width: 50%;
    margin-left: 15px;
}

.full-col2 img {
    height:80vh;
    object-fit: contain;
}