*,
*:after,
*:before {
  box-sizing: border-box;
}

body{
  margin:0;
}

@font-face {
  font-family:"Monument";
  src:url("fonts/MonumentExtended-Regular.woff") format("woff"), url("fonts/MonumentExtended-Regular.woff2") format("woff2"),
  url("fonts/MonumentExtended-Regular.eot") format("eot");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Monument Bold";
  src:url("fonts/MonumentExtended-Ultrabold.woff") format("woff"), url("fonts/MonumentExtended-Ultrabold.woff2") format("woff2"),
  url("fonts/MonumentExtended-Ultrabold.eot") format("eot");
  font-weight:bold;
  font-style:normal;
}

.bg-image {
  background-image: url("images/2019/Автопортрет_20х30_акрил\ на\ картоне.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -27.57%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.btn-main {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: crosshair;
  color: black;
  font-family: Monument, sans-serif;
  font-style:normal;
  font-weight:normal;
  font-size: 200px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu {
  background-color: transparent;
  color: black;
  font-family: Monument, sans-serif;
  font-style:normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: uppercase;
  background-repeat:no-repeat;
  border: none;
  cursor:crosshair;
  overflow: hidden;
  outline:none;
  position: absolute;
  top: 5%;
}

.menu-fixed {
  background-color: transparent;
  color: black;
  font-family: Monument, sans-serif;
  font-style:normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: uppercase;
  background-repeat:no-repeat;
  border: none;
  cursor:crosshair;
  overflow: hidden;
  outline:none;
  position: fixed;
  top: 5%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width:400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y:scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display:none;
}

.title {
  margin-top:120px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start ;
  text-align: center;
  text-transform: uppercase;
  color: black;
  position: absolute;
  font-family: Monument Bold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  width: 1em;
  height:780px;
  word-break: break-word;
  float: left;
  letter-spacing: 1em;
  white-space: pre-wrap
}

.t1 {
  left: 49px;
  line-height: 178%;
}

.t2 {
  position: absolute;
  left: 170px;
  line-height: 312.5%;
}

.preview {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 0px;
  top: 600px;
}

