@font-face {
  font-family: "Monument Extended";
  src: url("fonts/MonumentExtended-Regular.woff") format("woff"), url("fonts/MonumentExtended-Regular.woff2") format ("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Neue Montreal";
  src:url("fonts/NeueMontreal-Bold.woff") format("woff"), url("fonts/NeueMontreal-Bold.woff2") format("woff2"),
  url("fonts/NeueMontreal-Bold.eot") format("eot");
  font-weight:bold;
  font-style:normal;
}

.bg-image {
  background-image: url("images/bg-small.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.blur {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  height: 100vh;
  width: 100vw;
}

.btn-main {
  background-color: rgba(0,0,0, 0);
  color: black;
  font-family: Neue Montreal, sans-serif;
  font-style:normal;
  font-weight: bold;
  font-size: 200px;
  line-height: 1;
  letter-spacing: 1;
  /* text-transform: lowercase; */
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.name {
  background-color: none;
  color: black;
  font-family: Neue Montreal, sans-serif;
  font-style:normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: uppercase;
  border: none;
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: left;
}

.bio {
  background-color: none;
  color: black;
  font-family: Neue Montreal, sans-serif;
  font-style:normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: uppercase;
  border: none;
  position: absolute;
  top: 5%;
  left: 35%;
  text-align: left;
}

.insta {
  background-color: none;
  color: black;
  font-family: Neue Montreal, sans-serif;
  font-style:normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: uppercase;
  border: none;
  position: absolute;
  top: 5%;
  left: 60%;
  text-align: left;
}

.e-mail {
  background-color: none;
  color: black;
  font-family: Neue Montreal, sans-serif;
  font-style:normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: uppercase;
  border: none;
  position: absolute;
  top: 5%;
  left: 90%;
  text-align: left;
}