*,
*:after,
*:before {
  box-sizing: border-box;
}

html{
    font-size: calc(10/1440*100vw);
    /* overflow: hidden; */
}

body{
    margin:0px;
    padding: 0px;
}

@font-face {
    font-family:"Monument";
    src:url("fonts/MonumentExtended-Regular.woff") format("woff"), url("fonts/MonumentExtended-Regular.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}
  
@font-face {
    font-family:"MBold";
    src:url("fonts/MonumentExtended-Ultrabold.woff") format("woff"), url("fonts/MonumentExtended-Ultrabold.woff2") format("woff2");
    font-weight:bold;
    font-style:normal;
}

.nav {
    display:flex;
    position:fixed;
    width: 100%;
    height: 8rem;
    z-index: 10;
    background-color: white;
    top:0;
    left:0;
}
  
.nav > div {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: Monument, sans-serif;
    font-style:normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    width:20%;
}
  
a{
    display:block;
    text-decoration: none;
    color:inherit;
    padding:3rem;
    transition: color 0.3s ease-in-out;
}
  
a:active,
a:hover {
    color:#D71A00;
    text-transform: uppercase;
    text-decoration: none;
    cursor:crosshair;
}
  
div.nav-3 a{
    position:relative;
    color:#D71A00;
    text-transform: uppercase;
    text-decoration: underline;
    cursor:crosshair;
}
  
  
::-webkit-scrollbar {
    display:none;
}

.works{
    display: flex;
    position: absolute;
    width: 100%;
    max-height:100vh;
}

.left{
    display: flex;
    position: relative;
    width: 50%;
}

.row{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    width: 100%;
    margin-top:8rem;
    cursor:crosshair;

    max-height:100vh;
    overflow:auto;
}
  
.row > div{
    display: flex;
}
  
.row p {   
    color: black;
    font-family: Monument, sans-serif;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    margin-block-end: 0;
}
  
.col-1{
    display:flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    width: 15%;
}
  
.col-2{
    display:flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    width: 70%;
}

.col-2 p:hover,
.col-2 p:active{
    color:#D71A00;
    text-decoration: none;
    cursor: crosshair;
    transition: color 0.1s ease-in-out;
}

.col-5{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content:center;
    width: 15%;
}
  
.right{
    display: flex;
    position: relative;
    width: 50%;
    
    overflow: hidden;
    margin-top:8rem;
    padding:2rem;
}

#img001{
    position:absolute;
    top:-5rem;
    left:-2rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img002{
    position:absolute;
    top:52rem;
    left:58rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img003{
    position:absolute;
    top:0rem;
    left:57rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img004{
    position:absolute;
    top:3rem;
    left:5rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img005{
    position:absolute;
    top:34rem;
    left:57rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img006{
    position:absolute;
    top:36rem;
    left:45rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img007{
    position:absolute;
    top:54rem;
    left:0rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img008{
    position:absolute;
    top:26rem;
    left:50rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img009{
    position:absolute;
    top:15rem;
    left:57rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img010{
    position:absolute;
    top:26rem;
    left:20rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img011{
    position:absolute;
    top:18rem;
    left:18rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img012{
    position:absolute;
    top:35rem;
    left:20rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img013{
    position:absolute;
    top:21rem;
    left:54rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img014{
    position:absolute;
    top:10rem;
    left:8rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img015{
    position:absolute;
    top:18rem;
    left:42rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img016{
    position:absolute;
    top:28rem;
    left:28rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img017{
    position:absolute;
    top:6rem;
    left:42rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img018{
    position:absolute;
    top:29rem;
    left:16rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img019{
    position:absolute;
    top:44rem;
    left:9rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img020{
    position:absolute;
    top:28rem;
    left:31rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img021{
    position:absolute;
    top:20rem;
    left:1rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img022{
    position:absolute;
    top:50rem;
    left:28rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img023{
    position:absolute;
    top:55rem;
    left:53rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img024{
    position:absolute;
    top:54rem;
    left:35rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img025{
    position:absolute;
    top:40rem;
    left:1rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img026{
    position:absolute;
    top:41rem;
    left:41rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img027{
    position:absolute;
    top:38rem;
    left:40rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img028{
    position:absolute;
    top:0.5rem;
    left:23rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img029{
    position:absolute;
    top:28rem;
    left:4rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img030{
    position:absolute;
    top:56rem;
    left:16rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img031{
    position:absolute;
    top:50rem;
    left:17rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img032{
    position:absolute;
    top:27rem;
    left:35rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img033{
    position:absolute;
    top:5rem;
    left:6rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img034{
    position:absolute;
    top:4rem;
    left:31rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}




.image {
    display: block;
    position: relative;
    width:20rem;
    object-fit: cover;
}

#overlay {
    position: fixed;
    display: none;
    width: 100% ;
    height: 100%;
    background-color:white;
    z-index:20;
    cursor: crosshair;
    padding: 5%;
}  

.full-col1{
    display: flex;
    position: relative;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    bottom:0;
}

.full-col2{
    display: flex;
    position: relative;
    justify-content: left;
    align-self: flex-end;
    /* width: 50%; */
    height:100%;
    object-fit: contain;
    bottom:0;
    margin-left: 15px;
}

.title {
    color: rgb(3,45,18);
    font-family: MBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: right;
    text-transform: lowercase;
    margin-bottom: 0;
}

.description{
    color: rgb(3,45,18);
    font-family: Monument, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: right;
    text-transform: lowercase;
}


.right-mob{
    display: none;
    position: absolute;
    flex-wrap: wrap;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x, pan-y;

    top:-500px;
    left:-1000px;

    width: 600vw;
    height:600vw;
}

.right-mob > div{
    display:flex;
    position: relative;
    width: 20%;
    height: 20%;
    z-index:-1;
}

#img004m {
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 1;
}

#img005m {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1;
}

#img008m{
    position: absolute;
    top: 30%;
    left: 8%;
    z-index: 1;
}

#img020m {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
}

#img025m {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 1;
}

#img026m {
    position: absolute;
    top: 60%;
    left: 30%;
    z-index: 1;
}

#img029m {
    position: absolute;
    top: 70%;
    left: 55%;
    z-index: 1;
}

#img030m {
    position: absolute;
    top: 10%;
    left: 65%;
    z-index: 1;
}

#img031m {
    position: absolute;
    top: 35%;
    left: 70%;
    z-index: 1;
}

.image-bg {
    display: flex;
    position: relative;
    object-fit: contain;
    align-self: flex-start;
    width:100%;

}

.nav-mob {
    display: none;
    position: fixed;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.nav1 {
    display: flex;
    position: fixed;

    justify-content: center;
    align-items: center;
    width:100vw;
    height:10vh;
    top:40vh;

    color: rgba(219,255,0,1);
    text-align: center;
    font-size: 40px;
    font-family: Monument, sans-serif;
    font-style:normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1;
    text-decoration: none;
    background-repeat:no-repeat;
    border: none;
    background-color: transparent;
    text-transform: uppercase;

    opacity: 0;
    animation: fadeIn ease-out 3000ms;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
}

.nav2 {
    display: flex;
    position: fixed;
    justify-content:center;
    align-items: flex-end;

    width:100%;
    height:10vh;
    bottom:0;
    z-index:10;

    color:rgba(219,255,0,1);
    text-align: center;
    font-size: 50px;
    font-family: MBold, sans-serif;
    font-style:normal;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

div.nav1 a:hover,div.nav2 a:hover {
    color: rgba(219,255,0,1);
    cursor:crosshair;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width:600px) {
   
    .nav-mob {
        display: grid;
        position: fixed;
        z-index:50;
    }
    
    .nav, .left, .right, .overlay-full {
        display: none;
    }

    .right-mob {
        display: flex;
    }
    
}

.overlay-full{
    display: flex;
    position: relative;
    width:100%;
    max-height:100vh;
}

#full001, #full002, #full003, #full005, #full011,#full012, #full014, #full015, #full016, #full020, #full021,
#full022, #full024, #full025, #full026, #full030, #full031, #full032, #full033, #full034 {
    display:none;
    position: relative;
    width: 100% ;
    height: 100vh;
    left:0;
    top:0;

    background-color:white;
    z-index:100;
    cursor: crosshair;
    padding: 5rem;
}

.title-col {
    display:grid;
    position:relative;
    align-content: flex-end;
    width:50%;
    height:100%;

    color: rgb(3,45,18);
    font-family: MBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: right;
    text-transform: lowercase;
    margin:0;
    padding-right: 2rem;;
}

.description{
    color: rgb(3,45,18);
    font-family: Monument, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: right;
    text-transform: lowercase;
}

.full-image-col {
    display: flex;
    position: relative;
    justify-content: left;
    height: 100%;
}

#full004, #full006, #full007, #full008, #full009, #full010, #full013, #full017, #full018, #full019, #full023, #full027,
#full028, #full029 {
    display:none;
    position: relative;
    width: 100% ;
    height: 100vh;
    left:0;
    top:0;

    background-color:white;
    z-index:100;
    cursor: crosshair;
    padding: 5rem;
}

.full-image {
    display: flex;
    position: relative;
    justify-content: left;
    align-self: flex-start;
    width: 50%;
    object-fit: contain;
}

.title {
    display:block;
    position:relative;
    align-content: flex-start;
    width:50%;
    height:100%;

    color: rgb(3,45,18);
    font-family: MBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: right;
    text-transform: lowercase;
    margin:0;
    padding-right: 2rem;;
}
