*,
*:after,
*:before {
  box-sizing: border-box;
}

html{
    font-size: calc(10/1440*100vw);
    /* overflow: hidden; */
}

body{
    margin:0px;
    padding: 0px;
}

@font-face {
    font-family:"Monument";
    src:url("fonts/MonumentExtended-Regular.woff") format("woff"), url("fonts/MonumentExtended-Regular.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}
  
@font-face {
    font-family:"MBold";
    src:url("fonts/MonumentExtended-Ultrabold.woff") format("woff"), url("fonts/MonumentExtended-Ultrabold.woff2") format("woff2");
    font-weight:bold;
    font-style:normal;
}

.nav {
    display:flex;
    position:fixed;
    width: 100%;
    height: 8rem;
    z-index: 10;
    background-color: white;
    top:0;
    left:0;
}
  
.nav > div {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: Monument, sans-serif;
    font-style:normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    width:20%;
}
  
a{
    display:block;
    text-decoration: none;
    color:inherit;
    padding:3rem;
    transition: color 0.3s ease-in-out;
}
  
a:active,
a:hover {
    color:#D71A00;
    text-transform: lowercase;
    text-decoration: none;
    cursor:crosshair;
}
  
div.nav-2 a{
    position:relative;
    color:#D71A00;
    text-transform: lowercase;
    text-decoration: underline;
    cursor:crosshair;
}
  
  
/* ::-webkit-scrollbar {
    display:none;
} */

.works{
    display: flex;
    position: absolute;
    width: 100%;
    max-height:100vh;
}

.left{
    display: flex;
    position: relative;
    width: 50%;
}

.row{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    width: 100%;
    margin-top:8rem;
    cursor:crosshair;

    max-height:100vh;
    overflow:auto;
}
  
.row > div{
    display: flex;
}
  
.row p {   
    color: black;
    font-family: Monument, sans-serif;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    margin-block-end: 0;
}
  
.col-1{
    display:flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    width: 15%;
}
  
.col-2{
    display:flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    width: 70%;
}

.col-2 p:hover,
.col-2 p:active{
    color:#D71A00;
    text-decoration: none;
    cursor:crosshair;
    transition: color 0.1s ease-in-out;
}

.col-5{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content:center;
    width: 15%;
}
  
/* .col-3{
    display: block;
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    /* width: calc(0.5/ 12 * 100%);
} */


/* .col-4{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    width: calc(1.5 / 12 * 100%);
} */

.right{
    display: flex;
    position: relative;
    width: 50%;
    max-height:100vh;
    /* background-color: #D71A00; */
    margin-top:8rem;
    padding:2rem;
}

#img001{
    position:absolute;
    top:15rem;
    left:10rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img002{
    position:absolute;
    top:3rem;
    left:25rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img003{
    position:absolute;
    top:7rem;
    left:15rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img004{
    position:absolute;
    top:8rem;
    left:1rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img005{
    position:absolute;
    top:1rem;
    left:30rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img006{
    position:absolute;
    top:4rem;
    left:6rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img007{
    position:absolute;
    top:13rem;
    left:12rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img008{
    position:absolute;
    top:30rem;
    left:2rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img009{
    position:absolute;
    top:9rem;
    left:6rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img010{
    position:absolute;
    top:3rem;
    left:17rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img011{
    position:absolute;
    top:4rem;
    left:14rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img012{
    position:absolute;
    top:0rem;
    left:5rem;
    opacity:0;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}




.image {
    display: block;
    position: relative;
    width:15rem;
    object-fit: cover;
}

#overlay {
    position: fixed;
    display: none;
    width: 100% ;
    height: 100%;
    background-color:white;
    z-index:20;
    cursor: crosshair;
    padding: 5%;
}  

.full-col1{
    display: flex;
    position: relative;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    bottom:0;
}

.full-col2{
    display: flex;
    position: relative;
    justify-content: left;
    align-self: flex-end;
    /* width: 50%; */
    height:100%;
    object-fit: contain;
    bottom:0;
    margin-left: 15px;
}

.title {
    color: rgb(3,45,18);
    font-family: MBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: right;
    text-transform: lowercase;
    margin-bottom: 0;
}

.description{
    color: rgb(3,45,18);
    font-family: Monument, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: right;
    text-transform: lowercase;
}


