.works{
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 2rem;
}

.left{
    display: flex;
    position: relative;
    width: 50%;
}

.row{
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: 100%;
    margin-top:8rem;
    cursor:crosshair;
    max-height:100%;
    overflow-y:scroll;
}
  
.row > div{
    display: flex;
}
  
.row p {   
    color: black;
    font-family: Monument, sans-serif;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    margin-block-end: 0;
}
  
.number{
    display:flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    width: 15%;
}
  
.col-2{
    display:flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    width: 70%;
}

.work-info-row:hover p,
.work-info-row:active p{
    color:#D71A00;
    text-decoration:underline;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.year{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content:center;
    width: 15%;
}
  
.right{
    display: flex;
    position: fixed;
    width: 50%;
    left:50%;
    height: 100%;
    overflow: hidden;
    margin-top:8rem;
    padding:2rem;
}

.image-block {
    position:absolute;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}


.image-preview {
    display: block;
    position: relative;
    width:20rem;
    object-fit: cover;
}


#overlay {
    position: fixed;
    display: none;
    width: 100% ;
    height: 100%;
    background-color:white;
    z-index:20;
    cursor: crosshair;
    padding: 5%;
}  

.full-col1{
    display: flex;
    position: relative;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    bottom:0;
}

.full-col2{
    display: flex;
    position: relative;
    justify-content: left;
    align-self: flex-end;
    height:100%;
    object-fit: contain;
    bottom:0;
    margin-left: 15px;
}

.description{
    color: rgb(3,45,18);
    font-family: Monument, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: right;
    text-transform: lowercase;
}


.right-mob{
    display: none;
    position: absolute;
    flex-wrap: wrap;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x, pan-y;

    top:-500px;
    left:-1000px;

    width: 600vw;
    height:600vw;
}

.right-mob > div{
    display:flex;
    position: relative;
    width: 20%;
    height: 20%;
    z-index:-1;
}

.image-bg {
    display: flex;
    position: relative;
    object-fit: contain;
    align-self: flex-start;
    width:100%;

}

.nav2, .navoverlay {
    display: none;
    position: fixed;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.overlay-full{
    display: flex;
    position: relative;
    width:100%;
    max-height:100vh;
}

/* vertical */
.vertical-image {
    display:none;
    position: fixed;
    width: 100% ;
    height: 100vh;
    left:0;
    top:0;

    background-color:white;
    z-index:100;
    cursor: crosshair;
    padding: 5rem;
}

.overlay-title {
    display:grid;
    position:relative;
    align-content: flex-end;
    width:50%;
    height:100%;

    color: rgb(3,45,18);
    font-family: MBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: right;
    text-transform: lowercase;
    margin:0;
    padding-right: 2rem;;
}

.description{
    color: rgb(3,45,18);
    font-family: Monument, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: right;
    text-transform: lowercase;
}

.full-image {
    display: flex;
    position: relative;
    justify-content: left;
    align-self: flex-start;
    height: 100%;
    object-fit: fill;
}

/* in parts*/
.parts {
    width: 70%;
    object-fit: scale-down;
    background-color:white;
    z-index:100;
    cursor: crosshair;
    padding: 5rem;
}

@media (max-width:600px) {
   
    .nav2 {
        display: flex;
    }
    
    .nav, .number, .year {
        display: none;
    }

    .works {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-bottom:12vh;
    }

    .left {
        width: 85%;
    }

    .right {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: 15%;
        left: 0;
        padding: 0;
        overflow: auto;
        height: auto;
    }

    .row{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
      
    .row > div{
        display: flex;
        height: 50px;
    }
      
    .row p {
        text-align: right;
        font-size: 15px;
    }

    .col-2{
        justify-content: flex-end;
        padding: 0px 5px 0px 15px;
        width: 100%;
    }
    
    .image-block {
        width: 100%;
        height: 50px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .image-preview {
        height: 100%;
        object-fit: cover;
    }

    .overlay-full {
        padding: 5%;
    }

    /* image position */
    .vertical-image {
        display:none;
        position: fixed;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 100%;
        height: 100vh;
        padding: 5%;
    }

    .full-image, .parts {
        width: 100%;
        height: 60vh;
        object-fit: scale-down;
        padding: 0;
    }

    .overlay-title {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        height: auto;
        padding: 5% 0 0 0;
        color: rgb(3,45,18);
        font-family: MBold, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        text-transform: lowercase;
    }

    .description{
        color: rgb(3,45,18);
        font-family: Monument, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        text-align: left;
        text-transform: lowercase;
    }

    .navoverlay {
        display: hidden;
        position: fixed;
        justify-content:center;
        align-items: center;
    
        width:100%;
        height:12vh;
        bottom:0;
        left:0;
        z-index:1;
    
        color: rgb(3,45,18);
        text-align: center;
        font-size: 50px;
        font-family: MBold, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }

}
