*,
*:after,
*:before {
  box-sizing: border-box;
}

html{
    font-size: calc(10/1440*100vw);
    /* overflow: hidden; */
}

body{
    margin:0px;
    padding: 0px;
}

@font-face {
    font-family:"Monument";
    src:url("fonts/MonumentExtended-Regular.woff") format("woff"), url("fonts/MonumentExtended-Regular.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}
  
@font-face {
    font-family:"MBold";
    src:url("fonts/MonumentExtended-Ultrabold.woff") format("woff"), url("fonts/MonumentExtended-Ultrabold.woff2") format("woff2");
    font-weight:bold;
    font-style:normal;
}

.nav {
    display:flex;
    position:fixed;
    width: 100%;
    height: 8rem;
    z-index: 10;
    background-color: white;
    top:0;
    left:0;
}
  
.nav > div {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: Monument, sans-serif;
    font-style:normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    width:20%;
}
  
a{
    display:block;
    text-decoration: none;
    color:inherit;
    padding:3rem;
    transition: color 0.3s ease-in-out;
}
  
a:active,
a:hover {
    color:#D71A00;
    text-transform: lowercase;
    text-decoration: none;
    cursor:crosshair;
}
  
div.nav-3 a{
    position:relative;
    color:#D71A00;
    text-transform: lowercase;
    text-decoration: underline;
    cursor:crosshair;
}
  
  
::-webkit-scrollbar {
    display:none;
}

.works{
    display: flex;
    position: absolute;
    width: 100%;
    max-height:100vh;
}

.left{
    display: flex;
    position: relative;
    width: 50%;
}

.row{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    width: 100%;
    margin-top:8rem;
    cursor:crosshair;

    max-height:100vh;
    overflow:auto;
}
  
.row > div{
    display: flex;
}
  
.row p {   
    color: black;
    font-family: Monument, sans-serif;
    text-transform: lowercase;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    margin-block-end: 0;
}
  
.col-1{
    display:flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    width: 15%;
}
  
.col-2{
    display:flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    width: 70%;
}

.col-2 p:hover,
.col-2 p:active{
    color:#D71A00;
    text-decoration: none;
    cursor: crosshair;
    transition: color 0.1s ease-in-out;
}

.col-5{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content:center;
    width: 15%;
}
  
/* .col-3{
    display: block;
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    /* width: calc(0.5/ 12 * 100%);
} */


/* .col-4{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    width: calc(1.5 / 12 * 100%);
} */

.right{
    display: flex;
    position: relative;
    width: 50%;
    max-height:100vh;
    overflow: hidden;
    /* background-color: #D71A00; */
    margin-top:8rem;
    padding:2rem;
}

#img001{
    position:absolute;
    top:0rem;
    left:0rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img002{
    position:absolute;
    top:52rem;
    left:58rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img003{
    position:absolute;
    top:0rem;
    left:57rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img004{
    position:absolute;
    top:52rem;
    left:5rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img005{
    position:absolute;
    top:34rem;
    left:57rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img006{
    position:absolute;
    top:36rem;
    left:45rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img007{
    position:absolute;
    top:54rem;
    left:0rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img008{
    position:absolute;
    top:26rem;
    left:50rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img009{
    position:absolute;
    top:15rem;
    left:57rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img010{
    position:absolute;
    top:26rem;
    left:20rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img011{
    position:absolute;
    top:18rem;
    left:18rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img012{
    position:absolute;
    top:35rem;
    left:20rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img013{
    position:absolute;
    top:21rem;
    left:54rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img014{
    position:absolute;
    top:10rem;
    left:8rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img015{
    position:absolute;
    top:18rem;
    left:42rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img016{
    position:absolute;
    top:82rem;
    left:28rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img017{
    position:absolute;
    top:6rem;
    left:42rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img018{
    position:absolute;
    top:29rem;
    left:16rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img019{
    position:absolute;
    top:44rem;
    left:9rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img020{
    position:absolute;
    top:28rem;
    left:31rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img021{
    position:absolute;
    top:20rem;
    left:1rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img022{
    position:absolute;
    top:50rem;
    left:28rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img023{
    position:absolute;
    top:55rem;
    left:53rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img024{
    position:absolute;
    top:54rem;
    left:35rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img025{
    position:absolute;
    top:40rem;
    left:1rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img026{
    position:absolute;
    top:41rem;
    left:41rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img027{
    position:absolute;
    top:38rem;
    left:40rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img028{
    position:absolute;
    top:0.5rem;
    left:23rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img029{
    position:absolute;
    top:28rem;
    left:4rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img030{
    position:absolute;
    top:56rem;
    left:16rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img031{
    position:absolute;
    top:50rem;
    left:17rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img032{
    position:absolute;
    top:27rem;
    left:35rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img033{
    position:absolute;
    top:5rem;
    left:6rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}

#img034{
    position:absolute;
    top:4rem;
    left:31rem;
    transition: opacity 0.7s cubic-bezier(.23,1,.32,1) 0s;
}




.image {
    display: block;
    position: relative;
    width:20rem;
    object-fit: cover;
}

#overlay {
    position: fixed;
    display: none;
    width: 100% ;
    height: 100%;
    background-color:white;
    z-index:20;
    cursor: crosshair;
    padding: 5%;
}  

.full-col1{
    display: flex;
    position: relative;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    bottom:0;
}

.full-col2{
    display: flex;
    position: relative;
    justify-content: left;
    align-self: flex-end;
    /* width: 50%; */
    height:100%;
    object-fit: contain;
    bottom:0;
    margin-left: 15px;
}

.title {
    color: rgb(3,45,18);
    font-family: MBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: right;
    text-transform: lowercase;
    margin-bottom: 0;
}

.description{
    color: rgb(3,45,18);
    font-family: Monument, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: right;
    text-transform: lowercase;
}

.nav-mob {
    display: none;
}

.nav1 {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-end;
    width:100%;
    height:50%;

    padding-right: 20px;

    color: rgba(219,255,0,1);
    text-align: center;
    font-size: 40px;
    font-family: Monument, sans-serif;
    font-style:normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1;
    text-decoration: none;
    background-repeat:no-repeat;
    border: none;
    background-color: transparent;
    text-transform: uppercase;

    opacity: 0;
    animation: fadeIn ease-out 2s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.nav2 {
    display: flex;
    position: fixed;
    justify-content:center;
    align-items: flex-end;
    width:100%;
    height:50%;
    top:50%;

    color: rgba(219,255,0,1);
    text-align: center;
    font-size: 50px;
    font-family: MBold, sans-serif;
    font-style:normal;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-repeat:no-repeat;
    border: none;
    background-color: transparent;
  }

  .right-mob{
    display: none;
    position: relative;

    width: 100%;
    height:100%;
    overflow: auto;
    margin-top:0;
    padding:0;
}

@media (max-width:600px) {
    .nav {
        display: none;
    }
    
    .nav-mob {
        display: grid;
    }
    
    .left, .right {
        display: none;
    }

    .right-mob {
        display: contents;
    }

    

}